@import "~bulma/sass/utilities/_all";
// Fonts
$family-sans-serif: "IBM Plex Mono", "BlinkMacSystemFont", "-apple-system", "Segoe UI", "sans-serif";

$indian-red: #BC5850;

$custom-colors: (
  "indian-red"  : ($indian-red, findColorInvert($indian-red)),
);

